.c-invite{
    // border:solid 1px red;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width:38vmin;
    min-width:300px; 
    .c-invite-title{
        width:100%;
        font-size:$font-sm;
        text-align: center;
    }
    .line{
        margin-top:1rem;
        height:1px;
        width: 8%;
        border:0;
        color:#000000;
        background:#000000;
    }
    .c-invite-form{
        margin-top:2.5rem;
        width:100%;
        // border:solid 1px red;
        display:flex;
        flex-flow:column nowrap;
        .from-field{
            flex:1;
            display:block;
            margin-bottom:10px;
            padding:10px 8px;
        }
        .btn-submit{
            margin-top: 2.5rem;
        }
    }
    
}